Package: com.n3d1117.xnotforme
Name: XNotForMe
Version: 0.0.1
Architecture: iphoneos-arm
Description: iOS tweak to completely remove the "For You" tab in X/Twitter
Maintainer: Edoardo
Author: Edoardo
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
